.teatr{
    width: 100%;
height: 1045px;
opacity: 1;
background: 
    linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)),
    url('img/2e30ffd33abfac5cd356572ebcffee586047f03e.png') center/cover no-repeat;
    position: relative;
}
@media (max-width: 768px) {

  /* Butun teatr qismi */
  .teatr {
       width: 100%;
height: 745px;
opacity: 1;
background: 
    linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)),
    url('img/2e30ffd33abfac5cd356572ebcffee586047f03e.png') center/cover no-repeat;
  }
}
 /* Navbar fon */
    .navbar {
      background: #33333329;
      padding: 30px 0;
    }

    /* Menyu linklar */
    .navbar-nav .nav-link {
      color: #FFFFFF !important;
      font-weight: 500;
      transition: 0.3s;
      letter-spacing: 0.5px;

      font-family: Open Sans Condensed;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 10%;
text-transform: uppercase;




   
 


    }
    .nav-item{
        padding-left: 20px;
    }

    .navbar-nav .nav-link:hover {
      color: #c9a54d !important;
    }

    /* Telefon raqami */
    .phone {
      color: #fff;
      font-weight: bold;
      position: relative;
      text-decoration: none;
      display: inline-block;
      transition: 0.3s;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 10%;
      text-transform: uppercase;
      
    }

    .phone::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: #c9a54d;
    }

    .phone:active {
      background: #000;
      padding: 4px 8px;
      border-radius: 5px;
    }

    /* Burger knopka qora fonda */
    .navbar-toggler {
      background-color:#333333D9 !important;
      border: none;
      padding: 6px 10px;
      border-radius: 6px;
    }

    .navbar-toggler-icon {
      filter: invert(1);
    }

    /* Mobil menyu fon qora */
    @media (max-width: 991px) {
      .navbar-collapse {
        background:#333333D9;
        padding: 15px 0;
      }

      .navbar-nav .nav-link {
        padding: 10px 0;
        display: block;
        text-align: center;
      }

      /* Telefon raqami yuqorida qolsin */
      .phone {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 16px;
      }
    }



.chps{
width: 520px;
height: 296px;
opacity: 1;
margin-left: 150px;
margin-top: 200px;
}
.hr1{
    width: 540px;
height: 68px;
opacity: 1;
font-family: Open Sans Condensed;
font-weight: 700;
font-size: 56px;
line-height: 100%;
letter-spacing: 10%;
text-transform: uppercase;
color: #FFFFFF;
}
.hr2{
    width: 492px;
height: 79px;
opacity: 1;
font-family: Open Sans;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
color: #FFFFFF;
padding-top: 20px;
}
.btn22{
    width: 160px;
height: 50px;
opacity: 1;
background-color: #D1A954;
color: #fff;
font-family: Open Sans Condensed;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 10%;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
margin-top: 50px;

}
.chaprsm{
    margin-top: 100px;
}

@media (max-width: 768px) {

  .chps {
    width: 100%;
    height: auto;
    margin: 80px auto 0;
    text-align: center;
    padding: 0 20px;
  }

  .hr1 {
    width: 100%;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 2px;
  }

  .hr2 {
    width: 100%;
    font-size: 14px;
    line-height: 150%;
    padding-top: 15px;
  }

  .btn22 {
    width: 140px;
    height: 45px;
    font-size: 16px;
    margin-top: 70px;
  }

  /* Rasmni yashirish */
  .chaprsm {
    display: none;
  }

  /* Ichidagi ustunlarni ustma-ust joylashtirish */
  .col-xl-7, .col-xl-5 {
    width: 100%;
    text-align: center;
  }
  .tarmoqlar{
    display: none;
  }

 
}
.tarmoqlar{
    width: 150px;
height: 1045px;
position: absolute;
top: 0;
left: 0;
}
