.teatr{
    width: 100%;
height: 1045px;
opacity: 1;
background: 
    linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)),
    url('img/2e30ffd33abfac5cd356572ebcffee586047f03e.png') center/cover no-repeat;
    position: relative;
}
@media (max-width: 768px) {

  /* Butun teatr qismi */
  .teatr {
       width: 100%;
height: 745px;
opacity: 1;
background: 
    linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)),
    url('img/2e30ffd33abfac5cd356572ebcffee586047f03e.png') center/cover no-repeat;
  }
}
 /* Navbar fon */
    .navbar {
      background: #33333329;
      padding: 30px 0;
    }

    /* Menyu linklar */
    .navbar-nav .nav-link {
      color: #FFFFFF !important;
      font-weight: 500;
      transition: 0.3s;
      letter-spacing: 0.5px;

      font-family: Open Sans Condensed;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 10%;
text-transform: uppercase;




   
 


    }
    .nav-item{
        padding-left: 20px;
    }

    .navbar-nav .nav-link:hover {
      color: #c9a54d !important;
    }

    /* Telefon raqami */
    .phone {
      color: #fff;
      font-weight: bold;
      position: relative;
      text-decoration: none;
      display: inline-block;
      transition: 0.3s;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 10%;
      text-transform: uppercase;
      
    }

    .phone::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: #c9a54d;
    }

    .phone:active {
      background: #000;
      padding: 4px 8px;
      border-radius: 5px;
    }

    /* Burger knopka qora fonda */
    .navbar-toggler {
      background-color:#333333D9 !important;
      border: none;
      padding: 6px 10px;
      border-radius: 6px;
    }

    .navbar-toggler-icon {
      filter: invert(1);
    }

    /* Mobil menyu fon qora */
    @media (max-width: 991px) {
      .navbar-collapse {
        background:#333333D9;
        padding: 15px 0;
      }

      .navbar-nav .nav-link {
        padding: 10px 0;
        display: block;
        text-align: center;
      }

      /* Telefon raqami yuqorida qolsin */
      .phone {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 16px;
      }
    }



.chps{
width: 520px;
height: 296px;
opacity: 1;
margin-left: 150px;
margin-top: 200px;
}
.hr1{
    width: 540px;
height: 68px;
opacity: 1;
font-family: Open Sans Condensed;
font-weight: 700;
font-size: 56px;
line-height: 100%;
letter-spacing: 10%;
text-transform: uppercase;
color: #FFFFFF;
}
.hr2{
    width: 492px;
height: 79px;
opacity: 1;
font-family: Open Sans;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
color: #FFFFFF;
padding-top: 20px;
}
.btn22{
    width: 160px;
height: 50px;
opacity: 1;
background-color: #D1A954;
color: #fff;
font-family: Open Sans Condensed;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 10%;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
margin-top: 50px;

}
.chaprsm{
    margin-top: 100px;
}

@media (max-width: 768px) {

  .chps {
    width: 100%;
    height: auto;
    margin: 80px auto 0;
    text-align: center;
    padding: 0 20px;
  }

  .hr1 {
    width: 100%;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 2px;
  }

  .hr2 {
    width: 100%;
    font-size: 14px;
    line-height: 150%;
    padding-top: 15px;
  }

  .btn22 {
    width: 140px;
    height: 45px;
    font-size: 16px;
    margin-top: 70px;
   
  }

  /* Rasmni yashirish */
  .chaprsm {
    display: none;
  }

  /* Ichidagi ustunlarni ustma-ust joylashtirish */
  .col-xl-7, .col-xl-5 {
    width: 100%;
    text-align: center;
  }
  .tarmoqlar{
    display: none;
  }

 
}
.tarmoqlar{
    width: 150px;
height: 1045px;
position: absolute;
top: 0;
left: 0;
}


.otiator{
  width: 100%;
  height: 800px;
  background-color:#333333 ;
}
.p1{
  width: -16px;
height: 65px;
opacity: 1;
font-family: Open Sans Condensed;
font-weight: 300;
font-size: 48px;
line-height: 100%;
letter-spacing: 10%;
text-align: center;
text-transform: uppercase;
margin: auto;
padding-top: 50px;
color: #c9a54d;

}
.p2{
  width: 445px;
height: 23px;
opacity: 1;
font-family: Open Sans Condensed;
font-weight: 700;
font-size: 21px;
line-height: 100%;
letter-spacing: 10%;
text-transform: uppercase;
color: white;
padding-top: 150px;

}
.p3{
  width: 445px;
height: 210px;
opacity: 1;
font-family: Open Sans;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
color: #FFFFFF;
padding-top: 40px;
}
.p4{
  width: 355px;
height: 23px;
opacity: 1;
font-family: Open Sans Condensed;
font-weight: 700;
font-size: 21px;
line-height: 100%;
letter-spacing: 10%;
text-transform: uppercase;
color: #FFFFFF;
padding-left: 50px;
padding-top: 150px;
}
.im1{
  margin-left: -160px;
  margin-top: 20px;
}
.p5{
  width: 250px;
height: 17px;
opacity: 1;
font-family: Open Sans Condensed;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 5%;
color: #c9a54d;
padding-left: 80px;
padding-top: 20px;
}
.im2{
  width: 166px;
height: 102px;
opacity: 1;

  margin-left: 40px;
  margin-top: 30px;
}
.im3{
  width: 166px;
height: 102px;
opacity: 1;

  margin-left: 40px;
  margin-top: 30px;
}
.im4{
  width: 350px;
height: 292px;
opacity: 1;
margin-top: 150px;
}



@media (max-width: 768px) {
  .otiator {
    height: auto;
    text-align: center;
    padding-bottom: 50px;
  }

  .p1 {
    font-size: 36px;
    padding-top: 30px;
    letter-spacing: 5%;
  }

  .p2 {
    width: 100%;
    padding-top: 40px;
    font-size: 18px;
    text-align: center;
  }

  .p3 {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 13px;
    line-height: 160%;
  }

  .p4 {
    width: 100%;
    padding-left: 0;
    padding-top: 90px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }

  .im2 {
    width: 140px;
    height: auto;
    margin-left: 50px;
    display: block;
  }

  .im3 {
    width: 140px;
    height: auto;
   margin-left: 200px;
   margin-top: -120px;
  }

  .im4 {
  
    display: none;
  }

  /* Har bir ustun (col) pastma-past joylashadi */
  .otiator .col-xl-4,
  .otiator .col-sm-12 {
    text-align: center;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }
}



